// -- Colors ------------------------------------------------------------
$blue: #0000ee;
$grey: #222222;
$offWhite: #fefefe;

// -- Bootstrap variables -----------------------------------------------
$grid-gutter-width: 30px;
$body-bg: $offWhite;
$body-color: $grey;
$input-btn-padding-y: .375rem;
$line-height-base:  1.5 !default;
$btn-line-height: $line-height-base;
$link-color: $blue;