<h2>Create a new cake</h2>
<form
	[formGroup]="form"
	(ngSubmit)="onSubmit()"
	novalidate>
	<div class="form-group">
		<label for="name">Name</label>
    <input
      type="text"
      class="form-control"
      name="name"
      formControlName="name"
      placeholder="Name"
      [appFormControlValidityCss]="form.get('name')">
    <app-validation-message [control]="form.get('name')"></app-validation-message>
	</div>
	<div class="form-group">
		<label for="comment">Comment</label>
    <input
      type="text"
      class="form-control"
      name="comment"
      formControlName="comment"
      placeholder="Comment"
      [appFormControlValidityCss]="form.get('comment')">
    <app-validation-message [control]="form.get('comment')"></app-validation-message>
  </div>
  <div class="form-group">
      <label for="imageUrl">Image Url</label>
      <input
        type="text"
        class="form-control"
        name="imageUrl"
        formControlName="imageUrl"
        placeholder="imageUrl"
        [appFormControlValidityCss]="form.get('imageUrl')">
      <app-validation-message [control]="form.get('imageUrl')"></app-validation-message>
    </div>
  <div class="form-group">
		<label for="yumFactor">Yum factor</label>
    <input
      type="range"
      [min]="yumFactorMin"
      [max]="yumFactorMax"
      class="form-control"
      name="yumFactor"
      formControlName="yumFactor">
  </div>
  <app-submit-button
    [type]="'submit'"
    [processing]="processing"
    [text]="'Create cake'"
    [controls]="form.controls">
  </app-submit-button>
</form>
<a [routerLink]="['']" class="back"><< Take me back to the list</a>