@import './../../styles/variables';
:host {
  display: inline-block;
  &.processing {
    button {
      display:none;
    }
    ::ng-deep loading-indicator .spinner {
      $size: ($input-btn-padding-y * 2) + $btn-line-height;
      width: $size;
      height: $size;
    }
  }
}