:host {
  .add {
    margin: 0 0 2rem;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
  }
  ul {
    padding-left: 0;
  }
  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    margin-top: 2rem;
    &:first-child {
      margin-top: 0;
    }
    strong {
      margin: 0 0 1rem;
      display: block;
    }
    img {
      max-width: 100%;
      max-height: 10rem;
    }
  }
}