<div *ngIf="cakes">
  <a [routerLink]="['create']" class="add">Add a new cake to list + </a>
  <ul>
    <li *ngFor="let cake of cakes">
      <a [routerLink]="['view', cake.id]" [id]="cake.id">
        <strong>{{ cake.name }}</strong>
        <img [src]="cake.imageUrl" [alt]="cake.name">
      </a>
    </li>
  </ul>
</div>
<app-loading-indicator *ngIf="!cakes"></app-loading-indicator>