<div *ngIf="cake">
  <h4>{{ cake.name }}</h4>
  <p>{{ cake.comment }}</p>
  <p>yum factor: {{ cake.yumFactor }}</p>
  <img [src]="cake.imageUrl" [alt]="cake.name">
  <a [routerLink]="['']"><< Take me back to the list</a>
</div>
<app-loading-indicator *ngIf="!cake"></app-loading-indicator>