:host {
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  img {
    max-width: 100%;
    max-height: 10rem;
    margin-bottom: 2rem;
    display: flex;
  }
}